:root{
    --tw-bg-opacity: 1;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.login-card
{
    width: 25rem;
}

.bg-cream {
    --tw-bg-opacity: 1;
    background-color: rgb(255 249 245 / 1);
}
.text-stone {
    --tw-text-opacity: 1;
    color: rgb(28 25 23 / 1);
}

.font-extrabold {
    font-weight: 800;
}

.login-heading{
    font-size: 2rem;
    line-height: 2.5rem;
}

.btn-primary{
    background-color: rgb(255 249 245 / var(--tw-bg-opacity));
}

.bg-secondary {
    background: #2D5A6C !important;
}

.border.border-secondary {
    border:0 !important;
    /* border-color: #142444 !important; */
}

@media (min-width: 1200px){
    .p-xl-5 {
        padding: 1.5rem 3rem 0rem 3rem!important;
    }
}

@media (min-width: 768px){
    .py-md-0 {
        padding-top: 0 !important;
        padding-bottom: 18px !important;
    }
}


.main-footer {
    border-top: 1px solid #dee2e6;
    padding: 1rem;
}

.float-right {
    float: right!important;
}


.auth-col{
    border-radius: 30px;
}

.auth-img{
    width: 100%;
    height: 155px;
    border-radius: 30px;
}
